@import "./variables.scss";
@import "./mixins.scss";
.content-wrapper {
  margin: $CONTENT_CONTAINER_MARGIN;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .page-title {
    @include pageTitle;
  }
  .addButton {
    @include button;
    height: 150px;
    width: 150px;
    align-self: center;
    border-radius: $CARD_RADIUS;
  }
  .add-image-block {
    @include adminBlock;
    padding: 15px 0 30px;
    .new-image {
      width: 80%;
      img {
        width: 100%;
        border-radius: $CARD_RADIUS;
      }
    }
  }
  .add-text-block {
    @include adminBlock;
    .title-text-block {
      display: flex;
      flex-direction: column;
      width: 80%;
      input {
        @include input;
        height: 50px;
        width: 100%;
        border-bottom: none;
        border-top-left-radius: $CARD_RADIUS;
        border-top-right-radius: $CARD_RADIUS;
        font-size: 1.2em;
      }
      textarea {
        @include input;
        height: 300px;
        width: 100%;
        border-bottom-left-radius: $CARD_RADIUS;
        border-bottom-right-radius: $CARD_RADIUS;
      }
    }
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    .addButton {
      height: 50px;
      width: 100%;
      margin-top: 15px;
    }
    .add-image-block {
      display: flex;
      flex-direction: column;
      .new-image {
        width: 100%;
      }
    }
    .add-text-block {
      display: flex;
      flex-direction: column;
      .title-text-block {
        width: 100%;
      }
    }
  }
}
