@import "./variables.scss";
@import "./mixins.scss";

.content-wrapper {
  margin: $CONTENT_CONTAINER_MARGIN;
  .page-title {
    @include pageTitle;
  }
  .comments-wrapper {
    .comment-block {
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      padding: 15px;
      margin-bottom: 50px;
      box-sizing: border-box;
      .comment-text {
        margin: $CARD_PADDING;
        text-align: justify;
        line-height: 25px;
      }
      .comment-info {
        display: flex;
        justify-content: space-between;
        border-bottom: 3px solid $LOGO_COLOR;
        align-items: flex-end;
        .nickname {
          font-size: 1.5em;
        }
      }
    }
  }
  .add-comment-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
    textarea {
      @include input;
      height: 100px;
      border-right: none;
      border-top-left-radius: $CARD_RADIUS;
      border-bottom-left-radius: $CARD_RADIUS;
      width: 90%;
    }
    button {
      @include button;
      width: 10%;
      border-top-right-radius: $CARD_RADIUS;
      border-bottom-right-radius: $CARD_RADIUS;
    }
  }
}

@media (max-width: 425px) {
  .content-wrapper {
    .add-comment-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      textarea {
        border-right: 1px solid $LOGO_COLOR;
        border-bottom: none;
        border-radius: initial;
        border-top-left-radius: $CARD_RADIUS;
        border-top-right-radius: $CARD_RADIUS;
        padding: 10px;
        width: 100%;
      }
      button {
        @include button;
        width: 100%;
        height: 50px;
        border-radius: initial;
        border-bottom-left-radius: $CARD_RADIUS;
        border-bottom-right-radius: $CARD_RADIUS;
      }
    }
  }
}
