@import "variables.scss";

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $MAIN_BG_COLOR;
    min-height: $HEADER_HEIGHT;
    color: $HEADER_TEXT_COLOR;
    flex-shrink: 0;
    p{
        font-size: 1.8em;
        padding: 30px;
        font-weight: bold;
    }
}