@import "variables.scss";
.header {
  background-color: $MAIN_BG_COLOR;
  height: $HEADER_HEIGHT;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  .navbar {
    display: flex;
    align-items: center;
    .burger-menu {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: $HEADER_HEIGHT;
      width: 50px;
      .burger-line {
        color: red;
        width: 30px;
        height: 4px;
        margin: 3px;
        background-color: $LOGO_COLOR;
      }
    }
    .nav-items {
      display: flex;
      justify-content: space-between;
      .nav-item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: $HEADER_HEIGHT;
        transition: 0.1s;
        &:hover {
          border-bottom: $WHITE_BORDER;
        }
        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          color: $HEADER_TEXT_COLOR;
          font-size: 1.2em;
          padding: 0 15px;
          height: 100%;
          &.active{
            color: $LOGO_COLOR;
            font-weight: bold;
          }
        }
      }
      .dropdown-menu {
        position: relative;
        &::after {
          transition: 0.1s;
          content: "►";
          color: $HEADER_TEXT_COLOR;
          font-size: 0.6em;
          position: relative;
          right: 5px;
          top: 2px;
        }
        &:hover {
          &::after {
            transform: rotateZ(90deg);
            top: 3px;
            right: 7px;
          }
          .dropdown-container {
            display: block;
            height: $HEADER_HEIGHT * 4;
            opacity: 1;
            visibility: visible;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        .dropdown-container {
          opacity: 0;
          background-color: $MAIN_BG_COLOR;
          position: absolute;
          top: $HEADER_HEIGHT;
          left: 0;
          height: 0;
          transition: 0.5s;
          visibility: hidden;
        }
      }
    }
  }
  .logo-wrapper {
    height: $HEADER_HEIGHT;
    overflow: hidden;
    img {
      position: relative;
      top: -170%;
      animation: heartbeat 3s infinite;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .navbar {
      .nav-items {
        display: none;
        .nav-item {
          width: 100vw;
          display: block;
        }
        .dropdown-menu {
          &::after {
            left: 105px;
            top: -32px;
          }
          &:hover {
            &::after {
              left: 105px;
              top: -32px;
            }
          }
          .dropdown-container {
            background-color: $MAIN_BG_COLOR;
            left: 100px;
            border: $WHITE_BORDER;
            border-top: 3px solid black;
            top: 47px;
            .nav-item {
              width: max-content;
            }
          }
        }
      }
      .burger-menu {
        display: flex;
      }
      &:hover {
        .nav-items {
          position: absolute;
          top: $HEADER_HEIGHT;
          display: block;
          background-color: $MAIN_BG_COLOR;
          z-index: 1;
        }
      }
    }
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(0.6);
  }
  25% {
    transform: scale(0.6);
  }
  30% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.6);
  }
}
