@import "./variables.scss";
.content-wrapper {
  flex: 1 0 auto;

  .main-image-wrapper {
      position: relative;
      z-index: -1;
    img {
      width: 100%;
    }
  }
  .section-wrapper {
    padding: 20px;
    .title {
      font-size: 1.5em;
      font-weight: bold;
      padding-bottom: 15px;
    }
    .text {
      font-size: 1.1em;
      line-height: 1.3em;
    }
  }
}

