@import "./variables.scss";
@import "./mixins.scss";
.content-wrapper {
  margin: $CONTENT_CONTAINER_MARGIN;
  .page-title {
    @include pageTitle;
  }
  .calendar-table-wrapper {
      padding-top: 15px;
    table {
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      text-align: center;
      box-shadow: 1px 1px 5px grey;
      thead {
        background-color: $LOGO_COLOR;
        font-weight: bold;
      }
      tr {
        border-bottom: 1px solid black;
        &:nth-last-of-type(1) {
          border: none;
        }
      }
      td{
          padding: 20px 10px;
      }
    }
  }
}
