$MAIN_BG_COLOR: black;
$HEADER_TEXT_COLOR: white;
$LOGO_COLOR: #50b1f9;
$WHITE_BORDER: 3px solid white;
$HEADER_HEIGHT: 50px;
$CARD_RADIUS: 10px;
$CARD_PADDING: 15px;
$CONTENT_CONTAINER_MARGIN: 30px 0;
$MY_FONT: 'Poppins', sans-serif;