.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  min-height: 50px;
  color: white;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .footer p {
    font-size: 1.8em;
    padding: 30px;
    font-weight: bold; }
