.content-wrapper {
  margin: 30px 0; }
  .content-wrapper .page-title {
    font-size: 2.1em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px; }
  .content-wrapper .calendar-table-wrapper {
    padding-top: 15px; }
    .content-wrapper .calendar-table-wrapper table {
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      text-align: center;
      -webkit-box-shadow: 1px 1px 5px grey;
              box-shadow: 1px 1px 5px grey; }
      .content-wrapper .calendar-table-wrapper table thead {
        background-color: #50b1f9;
        font-weight: bold; }
      .content-wrapper .calendar-table-wrapper table tr {
        border-bottom: 1px solid black; }
        .content-wrapper .calendar-table-wrapper table tr:nth-last-of-type(1) {
          border: none; }
      .content-wrapper .calendar-table-wrapper table td {
        padding: 20px 10px; }
